.shade-1{
    background-color: #B4ADEA;
}

.shade-2{
    background-color: #F1E3D3;
}

.shade-3{
    background-color: #F7E3AF;
}

.shade-4{
    background-color: #F7AF9D;
}

.shade-5{
    background-color: #EFC88B;
}