@import url("https://fonts.googleapis.com/css2?family=Fredoka&display=swap");

:root{
  --primary-color:orange;
  --secondary-color:white;
  --red :red;
  --green :green;
  --black:black;
  --blue :blue;
}

* {
  margin: 0rem;
  padding: 0rem;
  box-sizing: border-box;
  font-family: "Fredoka", sans-serif;
}

.App {
  font-family: sans-serif;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.header-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 4rem;
  background-color: var(--primary-color);
  color: var(--secondary-color);
  padding: 0rem 2rem;
}

.header-title {
  font-size: 2rem;
  cursor: pointer;
}

.header-social-container {
  font-size: 1.75rem;
  display: flex;
  gap: 0.5rem;
  cursor: pointer;
  color: var(--secondary-color);;
}

.header-social-icon {
  background-color: var(--primary-color);;
  width: 3rem;
  height: 3rem;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.social-link {
  color: inherit;
}

.noteslist {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 2rem;
  margin: 2rem;
}


@media only screen and (max-width: 600px) {
  html {
    font-size: 8px;
  }
}

@media only screen and (min-width: 600px) {
  html {
    font-size: 10px;
  }
}

@media only screen and (min-width: 900px) {
  html {
    font-size: 12px;
  }
}

@media only screen and (min-width: 1200px) {
  html {
    font-size: 16px;
  }
}
