.main-page-wrapper{
    display: flex;
    flex-direction: column;
}

.page-wrapper{
    width: 100vw;
    display: grid;
    grid-template-columns: 2fr 10fr;
}

.archive-page{
    display: flex;
    flex-direction:row;
    justify-content:center;
    align-items:center;
    gap:1rem;
    margin : 2rem;
    background-color: var(--primary-color);
    border-radius: 0.5rem;
}