.sidebar-wrapper{
    height: 90vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 0rem;
}

.sidebar-list-wrapper{
    list-style: none;
    display: flex;
    flex-direction: column;
    gap:2rem;
    justify-content: center;
    align-items:center;
}

.sidebar-list-item,.sidebar-link{
    text-decoration: none;
    color:var(--primary-color);
    font-size: 1.2rem;
}

