.login-page-wrapper{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content:center;
    align-items: center;
    gap: 5rem;
    color: var(--primary-color);
}

.login-form-wrapper{
    height:60vh;
    width:25rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 0.1rem solid var(--primary-color);
}

.login-wrapper{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; 
    padding:2rem;
    gap:2rem;
    width:25rem;
}

.login-input-container{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 18rem;
}

.login-btn{
    width:12rem;
    height:2.5rem;
    color: var(--primary-color);
    border:0.1rem solid var(--primary-color);
    background-color: var(--secondary-color);
    cursor: pointer;
}

.login-signup-btn{
    font-size:0.8rem;
    cursor: pointer;
}

.login-signup-btn:hover{
    text-decoration:underline;
}

.login-input{
    height: 2rem;
    width:12rem;
    padding: 0.25rem;
    outline-color: var(--primary-color);
    color: var(--primary-color);
}

.login-btn:hover{
    border: none;
    background-color: var(--primary-color);
    color: var(--secondary-color);
}